.game {
    height: 100%;
    width: 100%;
}

.board {
    background-color: orange;
    border-color: black;
    border-style: solid;
    border-width: medium;
    margin: 2%;
    padding: 1%;
    float: left;
}

.field {
    width: 2em;
    height: 2em;
    display: inline-block;
}

.game-field {
    background: black;
    border-radius: 50%;
}

.marked-field {
    background: darkmagenta;
}

.stone {
    border-radius: 50%;
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

.block-stone {
    background: white;
}

.hitplayer-stone {
    background: hotpink;
}

.p1-stone {
    background: red;
}

.p2-stone {
    background: green;
}

.p3-stone {
    background: yellow;
}

.p4-stone {
    background: blue;
}