.body {
    position: relative;
}

.game {
    margin: 2%;
    display: inline-block;
}

.controls {
    background-color: darkorange;
    border-top: medium solid black;
    border-left: medium solid black;
    border-right: medium solid black;
}

.board {
    background-color: orange;
    border: medium solid black;
    border-top: medium solid black;
    padding: 1em;
}

.field {
    width: 2em;
    height: 2em;
    display: inline-block;
}

.gameField {
    background: black;
    border-radius: 50%;
}

.markedField {
    background: darkmagenta;
}

.stone {
    border-radius: 50%;
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

.blockStone {
    background: white;
}

.p1Stone {
    background: red;
}

.p2Stone {
    background: green;
}

.p3Stone {
    background: yellow;
}

.p4Stone {
    background: blue;
}

