@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder
@(user: models.User)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@main(messages("home.title"), Some(user)) {
    <h2 id="howtoplay">How to Play</h2>

    <h3 id="explanationoftheuserinterface">Explanation of the user interface</h3>

    <p>The user interface was kept very simple and should be self-explanatory. When the game is launched, you will first be asked for the number of players. Then you can start playing immediately. The top right corner shows the active player, the upper left corner shows the roll of the dice and the middle corner shows what to do. In the dropdown menus you can save the game, load an old score or start a new game. As well as undoing and redoing a move. <br />
        The keyboard shortcut for undoing is <strong>backspace</strong></p>

    <h3 id="gameinstructions">Game Instructions</h3>

    <h4 id="goalofthegame">Goal of the game</h4>

    <p>The first player who moves one of his pieces with an exact roll onto the top most field wins!</p>

    <h4 id="courseofthegame">Course of the game</h4>

    <p>The first Player starts. Whose turn it is, dices and draws accordingly with one of his piece. The number rolled must always be drawn completely. You can't draw into one's base. It is sometimes not possible to draw with a piece.  In this case, the player will skip one round. The player on the turn decides which piece to draw with.</p>

    <h4 id="theblockingstones">The blocking stones</h4>

    <p>Blocking stones are obstacles that cannot be jumped over. In order to clear them out of the way, a figure with an exact roll must land on a field occupied by a boulder. The player at the turn takes the boulder and places it, with the exception of the lowest row, on any square of the board. </p>

    <h4 id="hittinganotherplayerspieces">Hitting another player's pieces</h4>

    <p>Only one piece may be placed on each square. If a figure with an exact throw hits a field that is already occupied by another figure, it is hit and reset to one of the starting fields of its color. From here it can be brought back into play.</p>

    <p>This implementation comes along with a <em>TUI</em> (textual user interface) and <em>GUI</em>
        (graphical user interface).</p>
}