@()

<head>
    <title>Malefiz Info</title>
</head>

<body>

    <h1 id="malefiz">Malefiz</h1>

    <h1 id="tableofcontents">Table of Contents</h1>

    <ol>
        <li><a href="#abouttheproject">About the Project</a></li>

        <li><a href="#purposeoftheproject">Purpose of the Project</a></li>

        <li><a href="#usabilityandhumanityrequirements">Usability and Humanity Requirements</a></li>

        <li><a href="#performancerequirements">Performance Requirements</a></li>

        <li><a href="#howtoplay">How to Play</a> <br />
            5.1 <a href="#explanationoftheuserinterface">Explanation of the user interface</a> <br />
            5.2 <a href="#gameinstructions">Game Instructions</a></li>
    </ol>

    <h2 id="abouttheproject">About the Project</h2>

    <p>A Scala implementation of the board-game <strong>Malefiz</strong> <br />
        Malefiz is a widely used board game by <a href="https://www.ravensburger.de/start/index.html">Ravensburger</a> and was created in 1959 by Werner Schöppner</p>

    <h2 id="purposeoftheproject">Purpose of the Project</h2>

    <p>The project was developed in the context of the lecture "Software Engineering" at the University of Applied Science Konstanz, Germany. (WS 17/18) <br />
        The goal of this project was to learn and apply these following components:</p>

    <ul>
        <li>Version control with git</li>

        <li>Layered architecture (MVC)</li>

        <li>Design patterns</li>

        <li>Timemanagement with Scrum</li>

        <li>Code-Coverage using <a href="https://coveralls.io/">coveralls.io</a></li>

        <li>Learning the scala programming language</li>

        <li>Logging</li>

        <li>Event oriented parallel running GUI &amp; TUI</li>

        <li>Continuous integration using <a href="https://travis-ci.org/">Travis-CI</a></li>

        <li>Dependency injection</li>
    </ul>

    <h2 id="usabilityandhumanityrequirements">Usability and Humanity Requirements</h2>

    <p>For the use of the created game only the handling of computers and necessarily the communication with at least one other person as an opponent is required.</p>

    <h2 id="performancerequirements">Performance Requirements</h2>

    <p>The game should run on any computer used today without problems</p>

    <h2 id="howtoplay">How to Play</h2>

    <h3 id="explanationoftheuserinterface">Explanation of the user interface</h3>

    <p>The user interface was kept very simple and should be self-explanatory. When the game is launched, you will first be asked for the number of players. Then you can start playing immediately. The top right corner shows the active player, the upper left corner shows the roll of the dice and the middle corner shows what to do. In the dropdown menus you can save the game, load an old score or start a new game. As well as undoing and redoing a move. <br />
        The keyboard shortcut for undoing is <strong>backspace</strong></p>

    <h3 id="gameinstructions">Game Instructions</h3>

    <h4 id="goalofthegame">Goal of the game</h4>

    <p>The first player who moves one of his pieces with an exact roll onto the top most field wins!</p>

    <h4 id="courseofthegame">Course of the game</h4>

    <p>The first Player starts. Whose turn it is, dices and draws accordingly with one of his piece. The number rolled must always be drawn completely. You can't draw into one's base. It is sometimes not possible to draw with a piece.  In this case, the player will skip one round. The player on the turn decides which piece to draw with.</p>

    <h4 id="theblockingstones">The blocking stones</h4>

    <p>Blocking stones are obstacles that cannot be jumped over. In order to clear them out of the way, a figure with an exact roll must land on a field occupied by a boulder. The player at the turn takes the boulder and places it, with the exception of the lowest row, on any square of the board. </p>

    <h4 id="hittinganotherplayerspieces">Hitting another player's pieces</h4>

    <p>Only one piece may be placed on each square. If a figure with an exact throw hits a field that is already occupied by another figure, it is hit and reset to one of the starting fields of its color. From here it can be brought back into play.</p>

    <p>This implementation comes along with a <em>TUI</em> (textual user interface) and <em>GUI</em> (graphical user interface).</p>

</body>