@(currentGB: String, activePlayer: String, diced: String, message: String)

    @main("HTWG Malefiz") {
        <div class="game">
            @*TODO: Make this look good.*@
            <div>Player: @activePlayer Diced: @diced @message</div>

            <div class="board">

            @for(c <- currentGB) {

                @if(c.equals('\n')) {
                    <br>
                }
                @if(c.equals(' ')) {
                    <div class="field"></div>
                }
                @if(c.equals('o')) {
                    <div class="field game-field"></div>
                }
                @if(c.equals('x')) {
                    <div class="field game-field marked-field"></div>
                }
                @if(c.equals('G')) {
                    <div class="field game-field marked-field">
                        <div class="stone p1-stone"></div>
                    </div>
                }
                @if(c.equals('H')) {
                <div class="field game-field marked-field">
                    <div class="stone p2-stone"></div>
                </div>
                }
                @if(c.equals('J')) {
                <div class="field game-field marked-field">
                    <div class="stone p3-stone"></div>
                </div>
                }
                @if(c.equals('K')) {
                <div class="field game-field marked-field">
                    <div class="stone p4-stone"></div>
                </div>
                }
                @if(c.equals('B')) {
                    <div class="field game-field marked-field">
                        <div class="stone block-stone"></div>
                    </div>
                }
                @if(c.equals('-')) {
                    <div class="field game-field">
                        <div class="stone block-stone"></div>
                    </div>
                }
                @if(c.equals('1')) {
                    <div class="field game-field">
                        <div class="stone p1-stone"></div>
                    </div>
                }
                @if(c.equals('2')) {
                    <div class="field game-field">
                        <div class="stone p2-stone"></div>
                    </div>
                }
                @if(c.equals('3')) {
                    <div class="field game-field">
                        <div class="stone p3-stone"></div>
                    </div>
                }
                @if(c.equals('4')) {
                    <div class="field game-field">
                        <div class="stone p4-stone"></div>
                    </div>
                }
            }
            </div>
        </div>
    }