@(controller:de.htwg.se.sudoku.controller.controllerComponent.ControllerInterface)

@size= @{ controller.gridSize }
@blocksize= @{ controller.blockSize}
@cellMode(house:Int, cell:Int) = @{
    val scalar = toScalar(house,cell)
    val row_ = row(scalar)
    val col_ = col(scalar)
    if(controller.isGiven(row_,col_)) "given" else
    if(controller.isHighlighted(row_, col_)) "highlighted" else "normal"
}
@toScalar(house:Int, cell:Int)=@{ house*size + cell}
@row(scalar:Int)=@{((scalar % size) /blocksize) + (blocksize * (scalar /(size*blocksize)))}
@col(scalar:Int)=@{(scalar %blocksize) + (blocksize *(scalar/size)) - (size*(scalar/(size*blocksize)))}
@cell(houseIndex:Int, cellIndex:Int) = @{controller.cell(row(toScalar(houseIndex,cellIndex)),col(toScalar(houseIndex,cellIndex)))}

@main("HTWG Sudoku") {
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/sudoku.css")' />

    <div class="gamecontainer">
        <div class="game">
            @for(houseIndex <- 0 until size) {
            <div class="house size@size">
                @for(cellIndex <- 0 until size) {
                    <div class="cell">
                        @if(cell(houseIndex,cellIndex).isSet) {
                        <div class="@{"number "+cellMode(houseIndex, cellIndex)}">
                            @{cell(houseIndex,cellIndex).toString.take(1)}
                        </div>} else {
                            @if(cell(houseIndex,cellIndex).showCandidates) {
                                @for(candidateIndex <- 0 until size) {
                                    <div class="candidatecell">
                                    @candidateIndex
                                    </div>
                                    @if(candidateIndex % blocksize == blocksize - 1) {
                                        <div class="clear"></div>
                                    }
                                }
                            }
                        }
                        @if(cellIndex % blocksize==blocksize-1){<div class="clear"></div>}
                    </div>
                }
            </div>
            @if(houseIndex % blocksize==blocksize-1){<div class="clear"></div>}
            }
        </div>
    </div>
}